html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.departures-header {
    flex: 0 0;
    font-style: bold;
    padding: 20px;
    background-color: #c0d101;
    color: white;
}

.donate {
    float: right;
}

.table-container {
    overflow-y: auto;
    flex: 1 0;
}

.loading img {
    width: 1em;
    background-color: red;

    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
}

.floating-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 20vw;
    height: 20vw;
    bottom: 2vh;
    right: 2vw;

    font-size: 8vw;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    outline: none;

    opacity: 0.7;
}

.floating-button img {
    width: 15vw;
}

.floating-button.start {
    opacity: 1;
    background-color: red;
}

.floating-button:hover {
    opacity: 1;
}

.floating-button.start:hover {
    background-color: orangered;
}
.floating-button:active {
    opacity: 1;
    background-color: white;
}
